.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: #4d48ff;
  color: #fff;
  height: 40px;
  align-items: center;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 20;
}

.navbar-logo {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.logo {
  text-decoration: none;
  color: #fff;
}

.navbar-logo:hover {
  transform: scale(1.1);
}

.navbar-links > ul > li {
  list-style: none;
}

.navbar-links > ul > li > a {
  color: #fff;
  text-decoration: none;
}

.navigation-li-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav-link:hover {
  transform: scale(1.1);
}

.get-started {
  display: flex;
  flex-direction: row;
}

.get-started-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: max-content;
}

.get-started-link:hover {
  transform: scale(1.1);
}

.hamburger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  transition: all 0.3s ease-in-out;
}

.hamburger {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon:hover {
  color: red;
  transition: all 0.3s ease-in-out;
  scale: 1.4 !important;
}

.nav-hide {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-out-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.nav-show {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

.getstarted-hamburger {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.course-ham-nav {
  position: absolute;
  width: 250px;
  padding: 10px;
  background-color: rgb(39, 33, 33);
  top: 0;
  right: 0;
  margin-top: 96px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  z-index: 40;
}

.ham-navbar-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ham-navbar-links > ul {
  padding: 0;
  margin: 0;
}

.ham-navbar-links > ul > li {
  list-style: none;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ham-navbar-links > ul > li > a {
  color: #fff;
  text-decoration: none;
}

.ham-nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.ham-nav-link:hover {
  background-color: #4d48ff;
  border-radius: 5px;
  transform: scale(1.1);
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  .navbar-links {
    display: none;
  }
}
