.contactus-container {
  min-height: 100vh;
  background-color: #efefef;
  position:relative;
  z-index: 9;
}

.contactus-grid-container {
  margin-top: 20px !important;
}

.divider {
  border-color: #1098f7 !important;
  opacity: 0.8 !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.grid-card-left-box {
  padding-top: 40px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
}

.contactus-left-text {
  margin-top: 10px !important;
  text-align: justify;
}

.contactus-text :last-child {
  margin-bottom: 10px !important;
}

.contactus-contact-text {
  margin-top: 5px !important;
}

.contactus-contact :last-child {
  margin-bottom: 5px !important;
}

.contactus-address-text {
  margin-top: 5px !important;
}

.contactus-address :last-child {
  margin-bottom: 5px !important;
}

.social-icon-box {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  margin-top: 10px;
}

.social-icon {
  width: 30px;
  cursor: pointer;
}

.grid-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.grid-card-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.client-name-box {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  margin-top: 10px;
}

.submit-form {
  margin-left: 10px;
}

.contactus-left {
  min-height: 700px !important;
}

.contactus-right {
  min-height: 700px !important;
}

@media screen and (min-width: 1200px) {
  .grid-card-left {
    justify-content: flex-start !important;
  }
}

@media screen and (max-width: 1200px) {
  .grid-card-left-box{
    padding-top: 10px !important;
  }
}