.difference-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:relative;
  z-index: 9;
  background-color: #ffffff;
}

.difference-content > ul > li {
  text-align: justify;
}

.difference-card {
  background-color: #03a9f4 !important;
  width: 100%;
  transform: scale(1);
  transition : all 0.5s ease !important;
}

.difference-card:hover {
  transform: scale(1.05);
  transition: all 0.25s ease !important;
}

.difference-icon {
  width: 100px;
}

.diff-card {
  display: flex;
  align-items: stretch;
}

.d-card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-bottom: 10px;
}

.lower-typo {
  text-align: center;
}

.card-split {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor:pointer;
}


.padding-difference{
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.difference-hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000000;
}

.difference-hover-underline-animation::after{
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.card-split:hover .difference-hover-underline-animation::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 1200px){
  .padding-difference{
      padding-left: 2rem;
      padding-right: 2rem;
  }
}

@media screen and (max-width: 900px){
  .padding-difference{
    padding-top:6rem !important;
      padding-left: 2rem;
      padding-right: 2rem;
  }
}

@media screen and (max-width: 600px){
  .padding-difference{
    padding-top:6rem !important;
      padding-left: 2rem;
      padding-right: 2rem;
  }
}