.banner-container {
  background-color: #3d39fc;
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  scroll-margin-top: 72px;
}

.particle-canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.banner-left-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.banner-title {
  color: #fff;
  transition: all 0.5s ease-in-out;
  max-width: 700px;
}

.banner-subtitle {
  color: #fff;
  text-align: justify;
  transition: all 0.5s ease-in-out;
  max-width: 700px;
}

.button-group {
  display: flex;
  gap: 0.5rem;
  height: 30px;
  flex-direction: row;
  justify-content: flex-start;
}

.bannerimage-holder {
  display: flex;
  justify-content: center;
  overflow: hidden;
  object-fit: fill;
}

.image {
  transition: all 0.5s ease-in-out;
  transform: translateX(-65px);
}

@media screen and (max-width: 1200px) {
  .image {
    transform: translateX(0px);
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (max-width: 600px) {
  .banner-container {
    padding-top: 0px;
  }
  .banner-title {
    font-size: 2.5rem !important;
    transition: all 0.5s ease-in-out;
  }
  .banner-subtitle {
    font-size: 1rem !important;
    transition: all 0.5s ease-in-out;
  }
  .image {
    transform: translateX(-65px);
    transition: all 0.5s ease-in-out;
    height: 400px;
  }
}

h3.span {
  font-size: 2vw;
  letter-spacing: 0.7em;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #f76e39;
  z-index: 4;
  transition: all 0.2s ease-in-out;
}

.loader span {
  color: #46f739;
  text-shadow: 0 0 0 #11ff1a;
  animation: loading 1s ease-in-out infinite alternate;
}

@keyframes loading {
  to {
    text-shadow: 20px 0 70px #ff0266;
    color: #ff7002;
  }
}

.loader span:nth-child(2) {
  animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  animation-delay: 0.6s;
}
.loader span:nth-child(8) {
  animation-delay: 0.7s;
}
.loader span:nth-child(9) {
  animation-delay: 0.8s;
}
.loader span:nth-child(10) {
  animation-delay: 0.9s;
}
.loader span:nth-child(11) {
  animation-delay: 1s;
}
.loader span:nth-child(12) {
  animation-delay: 1.1s;
}
.loader span:nth-child(13) {
  animation-delay: 1.2s;
}
.loader span:nth-child(14) {
  animation-delay: 1.3s;
}
.loader span:nth-child(15) {
  animation-delay: 1.4s;
}
.loader span:nth-child(16) {
  animation-delay: 1.5s;
}
.loader span:nth-child(17) {
  animation-delay: 1.6s;
}
.loader span:nth-child(18) {
  animation-delay: 1.7s;
}
.loader span:nth-child(19) {
  animation-delay: 1.8s;
}
.loader span:nth-child(20) {
  animation-delay: 1.9s;
}
