.refund-container{
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media screen and (max-width: 1200px) {
  .refund-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .refund-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .refund-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.refund-container > .inner-spacing:nth-child(odd) {
    background-color: #f2f2f2;
  }